.cardContainer {
  --ifm-link-color: var(--ifm-color-emphasis-800);
  --ifm-link-hover-color: var(--ifm-color-emphasis-700);
  --ifm-link-hover-decoration: none;

  box-shadow: none;
  border: 1px solid #e7e5e4;
  border-radius: 12px;
  transition: border-color var(--ifm-transition-fast) ease;
  padding: 1rem 1.15rem !important;
}

.cardContainer:hover {
  border-color: var(--ifm-color-primary);
  box-shadow: none;
}

.cardContainer *:last-child {
  margin-bottom: 0;
}
